body{
  margin:0;
  font-family:Arial;
  background:#000;
  color:white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: #1A1A1A;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #D6232A;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.icons span{
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}
#cart-count{
    background: #D6232A;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    margin-left: 5px;
}
.menu{
  padding:60px;
  text-align:center;
}

.menu a{
  color:#D6232A;
}